@mixin flew-grid($direction: row) {
    display: flex;
    text-align: center;
    justify-content: center;
    flex-direction: $direction;
}

@mixin dimensions($mxh: auto, $mxw: auto, $mnh: auto, $mnw: auto) {
    max-height: $mxh;
    max-width: $mxw;
    min-height: $mnh;
    min-width: $mnw;
}

.App {
    @include flew-grid();
    @include dimensions($mnh: 100vh, $mnw: 100vw);
    align-items: center;
    background-color: aquamarine;
}

#quote-box {
    @include flew-grid($direction: column);
    @include dimensions($mxh: 45vh, $mxw: 40vw, $mnh: 20vh, $mnw: 15vw);
    padding: 30px;
    border-radius: 15px;
    background-color: #047cf44f;
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
    color: white;
}

#text {
    font-size: calc(12px + 2vmin);
}
#author {
    font-size: calc(5px + 2vmin);
}
